body {
    font: 14px "Futura", "Arial", sans-serif;
    background-color: black;
  }

header {
    color: white;
    display: block;
    text-align: center;
}

.tab {
    display: inline-block;
    padding: 20px 20px 20px 20px;
    width: 120px;
    margin: 20px 10px 30px 10px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    border-color: black;
    text-align: center;
    
}
  
  
.button {
    cursor: pointer;
    display: block;
    width: 160px;
    /* border: 1px solid black; */
    font-size: 16px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    color: black;
    background-color: white;
    text-decoration: none;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 2px;
}
  
h2 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.container {
    margin: 0 auto;
    width: 640px;
}

.silhouetteSvg {
    width: 640px;
    height: 480px;
    display: block;
}

.video-img-stack {
    display: block;
    /* position: relative;  */
}

.stack-item-bottom {
    position: relative;
    z-index: -1;
    transform: scale(-1, 1);
}
  
.stack-item-top {
    position: absolute;
    z-index: 1;
}

  
.bottom {
    clear: both;
    padding-top: 10px;
    color: white;
}